h1 a {
    color: #FCA205;
}
/*some css notes here http://css-snippets.com/simple-horizontal-navigation/*/
body {
    background-color: lightblue;
    padding-left: 20px;
}
ul {
   display: inline;
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}
li {
    display: inline-block;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
#footer {
   background-color: white;
   position: absolute;
   left: 0px;
   bottom: 0;
   width: 100%;
   height: 60px;  
   text-align: center;
}
